@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center">Hello, world!</h1>

@foreach (Employee employee in _employees)
{
    if(employee is Worker w)
    {
        <p>Hello @w.Fullname, you are a worker making €@w.Wage per hour</p>
    }

    if (employee is Boss b)
    {
        <p>Hello @b.Fullname, you are the boss of @b.Department making €@b.Salary per year</p>
    }
}

@code
{
    private List<Employee> _employees = new List<Employee>()
    {
        new Worker("Damien", "Weatherley", 35),
        new Worker("Simon", "Poppin", 35),
        new Worker("Bos", "Little", 35),
        new Worker("Sally", "Jabbers", 35),
        new Worker("Mary", "Scots", 35),
        new Boss("Andrew", "Baker", 74000, "Logistics"),
        new Boss("Alice", "Stone", 80000, "IT"),
    };
}